<div class="readingBook">
  <div class="fixed">
    <div class="theme">
      <button onclick="myFunction()">
        <i class="fas fa-moon"></i>
      </button>
    </div>
    {{!-- <button type="button" class="btn btn-outline-info">Tiến trình: {{process}}</button> --}}
  </div>

  <div class="header">
    <div class="progress-container">
      <div class="progress-bar" id="myBar"></div>
    </div>
  </div>
  <div class="container">
    <h2>{{book.name}} </h2> <br>
    <h5>Tác giả: {{book.tacgia}}</h5> <br>
  </div>
  {{# if currentChapter}}

  {{else}}
  {{/if}}

  <div class="container">
    <h3>
      Chương: {{currentChapter}}
    </h3>
  </div>


  <div class="row justify-content-md-center">
    <div class="col col-lg-2">
      <a href="/readingBook/{{book.plug}}/chapter-{{backChapter currentChapter}}">
        <button class="btn btn-success backChapter" type="button">
          Chương trước
        </button>
      </a>
    </div>

    <div class="col-md-auto">
      <div class="dropdown">
        <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Mục lục
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="/readingBook/{{book.plug}}/chapter-1">Chương 1</a>
          <a class="dropdown-item" href="/readingBook/{{book.plug}}/chapter-2">Chương 2</a>
          <a class="dropdown-item" href="/readingBook/{{book.plug}}/chapter-3">Chương 3</a>
        </div>
      </div>
    </div>

    <div class="col col-lg-2">
      <a href="/readingBook/{{book.plug}}/chapter-{{nextChapter currentChapter}}">
        <button class="btn btn-success backChapter" type="button">
          Chương sau
        </button>
      </a>
    </div>
  </div>

  <div class="content">
    <p>{{{getContent book.contents currentChapter}}}</p>
  </div>


  <div class="row justify-content-md-center">
    <div class="col col-lg-2">
      <a href="/readingBook/{{book.plug}}/chapter-{{backChapter currentChapter}}">
        <button class="btn btn-success backChapter" type="button">
          Chương trước
        </button>
      </a>
    </div>

    <div class="col-md-auto">
      <div class="dropdown">
        <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Mục lục
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="/readingBook/{{book.plug}}/chapter-1">Chương 1</a>
          <a class="dropdown-item" href="/readingBook/{{book.plug}}/chapter-2">Chương 2</a>
          <a class="dropdown-item" href="/readingBook/{{book.plug}}/chapter-3">Chương 3</a>
        </div>
      </div>
    </div>

    <div class="col col-lg-2">
      <a href="/readingBook/{{book.plug}}/chapter-{{nextChapter currentChapter}}">
        <button class="btn btn-success backChapter" type="button">
          Chương sau
        </button>
      </a>
    </div>
  </div>

  
  </div>


  <script>
    function myFunction() {
      const element = document.body;
      element.classList.toggle("dark");
    }
    window.onscroll = function () { myFunction1() };

    function myFunction1() {
      var winScroll = document.body.scrollTop || document.documentElement.scrollTop;
      var height = document.documentElement.scrollHeight - document.documentElement.clientHeight;
      var scrolled = (winScroll / height) * 100;
      document.getElementById("myBar").style.width = scrolled + "%";
    }
  </script>