<div class="history">

  <div class="container">
    <div class="row">

      <div class="col-md-12">
        <h4>Lịch Sử</h4>
        <div class="table-responsive">
          <table id="mytable mt-4" class="table table-bordred table-striped">

            <thead>
              <th>STT</th>
              <th>Tên sách</th>
              <th>Tác giả</th>
              <th>Ngày đọc</th>
              <th>Tiến trình</th>
            </thead>
            <tbody>
              
              {{#each histories}}
              <tr>
                <td>{{sum @index}}</td>
                <td>{{name}}</td>
                <td>{{tacgia}}</td>
                <td>{{updatedAt}}</td>
                <td>{{process}}</td>
                {{/each}}
            </tbody>

          </table>

          <div class="clearfix"></div>

        </div>

      </div>
    </div>
  </div>

</div>