<div class="home">
    <div class="sort">
        <div class="col-md-auto">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Sắp xếp
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    {{!-- <a class="dropdown-item" href="/">---Sắp xếp---</a> --}}
                    <a class="dropdown-item" href="?plug=1">Theo tên sách từ A - Z</a>
                    <a class="dropdown-item" href="?plug=-1">Theo tên sách từ Z - A</a>
                    <a class="dropdown-item" href="?view=1">Lượt đọc tăng dần</a>
                    <a class="dropdown-item" href="?view=-1">Lượt đọc giảm dần</a>
                </div>
            </div>
        </div>
    </div>

    <section class="services py-5 bg-light1 text-center">
        <div class="container">
            <div class="row">
                {{#each books}}
                <div class="col-sm-4 col-tg-5 my-4">
                    <div class="card card-course-item mb-3">
                        <a href="/books/{{this.plug}}">
                            <img src="{{this.image}}" alt="{{this.name}}" class="img-thumbnail">
                        </a>
                        <div class="card-body">
                            <a href="/books/{{this.plug}}">
                                <h5 class="card-body">{{this.name}}</h5>
                            </a>
                            <p class="tacgia-text">Tác giả: {{this.tacgia}}</p>
                            <p class="view">Lượt đọc: {{this.view}}</p>
                            <p class="theloai">Thể loại: {{this.theloai}}</p>
                        </div>
                    </div>

                </div>
                {{/each}}


            </div>
        </div>
    </section>
</div>